version: '3.8'

services:
  router:
    image: alpine:latest
    container_name: router
    command: /bin/sh -c "sysctl -w net.ipv4.ip_forward=1 && tail -f /dev/null"
    cap_add:
      - NET_ADMIN
    networks:
      subnet_a:
        ipv4_address: 172.20.0.254
      subnet_b:
        ipv4_address: 172.21.0.254
      subnet_c:
        ipv4_address: 172.22.0.254

  # --- PEER 1 (Subnet A: 172.20.0.5) ---
  peer1:
    build: .
    container_name: peer1
    hostname: peer1
    cap_add: [NET_ADMIN] 
    networks:
      subnet_a:
        ipv4_address: 172.20.0.5
    environment:
      - DISPLAY=host.docker.internal:0.0
      - BOOTSTRAP_PEER= # Seeder
      - EXTRA_ROUTE_CMD=ip route add 172.21.0.0/16 via 172.20.0.254 && ip route add 172.22.0.0/16 via 172.20.0.254
    volumes:
      - /mnt/c/Users/USER/OneDrive/Masaüstü/P2P_Source:/app/root_folder
      - /mnt/c/Users/USER/OneDrive/Masaüstü/P2P_Peer1:/app/buffer
    command: sh -c "ip route add 172.21.0.0/16 via 172.20.0.254 && ip route add 172.22.0.0/16 via 172.20.0.254 && java -cp out:src cse471.P2PStreamingGUI"

  # --- PEER 2 (Subnet B: 172.21.0.5) ---
  peer2:
    build: .
    container_name: peer2
    hostname: peer2
    cap_add: [NET_ADMIN]
    networks:
      subnet_b:
        ipv4_address: 172.21.0.5
    environment:
      - DISPLAY=host.docker.internal:0.0
      - BOOTSTRAP_PEER=172.20.0.5 
    volumes:
      - /mnt/c/Users/USER/OneDrive/Masaüstü/P2P_Peer2:/app/buffer
    depends_on: [peer1, router]
    command: sh -c "ip route add 172.20.0.0/16 via 172.21.0.254 && ip route add 172.22.0.0/16 via 172.21.0.254 && java -cp out:src cse471.P2PStreamingGUI"

  # --- PEER 3 (Subnet C: 172.22.0.5) ---
  peer3:
    build: .
    container_name: peer3
    hostname: peer3
    cap_add: [NET_ADMIN]
    networks:
      subnet_c:
        ipv4_address: 172.22.0.5
    environment:
      - DISPLAY=host.docker.internal:0.0
      - BOOTSTRAP_PEER=172.20.0.5
    volumes:
      - /mnt/c/Users/USER/OneDrive/Masaüstü/P2P_Peer3:/app/buffer
    depends_on: [peer1, router]
    command: sh -c "ip route add 172.20.0.0/16 via 172.22.0.254 && ip route add 172.21.0.0/16 via 172.22.0.254 && java -cp out:src cse471.P2PStreamingGUI"

networks:
  subnet_a:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
  subnet_b:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/16
  subnet_c:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16